*{
  margin: 0;
  padding: 0;
}
html{
  background: #f4f4f4;
}
#logo{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
#logo img{
  width: 15%;
}
#iframe{
  display: flex;
  justify-content: center; 
}

